[submodule "javascript"]
	path = javascript
	url = https://github.com/sweetlikekendy/commit-hooks-javascript
[submodule "python"]
	path = python
	url = https://github.com/sweetlikekendy/commit-hooks-python.git
